.entreLetras {
  letter-spacing: 0.5em;
}

img {
  float: left;
  height: 300px;
  width: 300px;
  margin-top: 20px;
}

h1 {
  border-bottom: 3px solid #c0c0c0;
}

.aDireita {
  text-align: right;
}

/*== Exemplo 6 ==*/
#outRes {
  margin: 15px 0 5px 0;
}

pre {
  margin: 0;
  color: red;
}

.green {
  font-weight: bold;
  color: rgb(24, 141, 24);  
}
